<div
  class="row content h-100 m-0 animate__animated animate__slideInDown animate__fast"
>
  <div class="container-info">
    <div class="row m-0 content-info">
      <h3>Último número</h3>
      <h3 class="animate__animated animate__fadeIn">
        {{ lastNumberSelected || "--" }}
      </h3>
    </div>
  </div>
  <div class="content-img">
    <picture>
      <img
        width="136px"
        height="110px"
        src="./../../../../assets/img/current-balance.svg"
        alt=""
      />
    </picture>
  </div>

  <div class="background">
    <picture>
      <img src="./../../../../assets/img/reflejos01.svg" alt="" />
    </picture>
  </div>
</div>
