<div class="container">
  <div class="row h-100">
    <div class="col-md-6 col-12 text-center">
      <img
        src="./../../../../assets/img/img-login.svg"
        class="img-fluid h-100"
        alt=""
      />
    </div>
    <div class="col-md-6 col-12 content-form">
      <div class="row">
        <h1>Ahorrandito</h1>
        <p>Una manera divertida de ahorrar</p>
      </div>
      <app-form-auth></app-form-auth>

      <p class="register mt-3" [routerLink]="['register']">REGISTRARSE</p>
    </div>
  </div>
</div>
