@import 'src/sass/variables';

.container {

  .container-login {
    @media (width < 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }

  .container-img {
    height: 100vh;
    padding-block: 20px;
    display: flex;
    justify-content: center;

    @media (width < 1024px) {
      display: none;
    }
  }

  .content-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
      height: 405px;
      text-align: center;
      justify-content: center;
      align-items: center;

      p {
        color: $secundary-color;
      }
    }

    button.login-google-btn {
      background-color: white;
      width: 115px;
      height: 80px;
    }

    .register {
      text-decoration: underline;
      color: $secundary-color;
    }
  }
}