.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field {
  &:hover {
     .mat-mdc-form-field-focus-overlay {
      opacity: 0;
    }
  }
}

.golden-icon {
  color: $golden-color;
}
