h1 {
  color: $golden-color;
  font-weight: 700;
  font-size: 65px;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 25%);
}

h2 {
  color: $secundary-color;
  font-weight: 400;
  font-size: 25px;
}

h3 {
  color: $secundary-color;
  font-weight: 600;
  font-size: 25px;
}

p {
  color: $secundary-color;
  font-weight: 400;
}