.container-dashboard {
  grid-auto-rows: max-content;
  align-content: space-around;

  .content-statistics {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 185px;
    max-width: 1080px;
    padding-block: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
}