<div class="sidenav" [ngClass]="{ opened: isOpenMenu }">
  <nav>
    <ul>
      <div class="container-logo">
        <span class="material-symbols-rounded logo"> local_atm </span>
      </div>
      <li class="" matTooltip="DASHBOARD">
        <span class="material-symbols-rounded"> home </span>
        <span class="title-options">{{ "DASHBOARD" | titlecase }}</span>
      </li>
      <li class="" matTooltip="TABLA DE NÚMEROS">
        <span class="material-symbols-rounded"> table </span>
        <span class="title-options">{{ "NÚMEROS" | titlecase }}</span>
      </li>
    </ul>
    <ul>
      <li class="" matTooltip="TEMA">
        <span class="material-symbols-rounded"> dark_mode </span>
        <span class="title-options">{{ "TEMA" | titlecase }}</span>
      </li>
      <li class="" (click)="logout()" matTooltip="Cerrar sesión">
        <span class="material-symbols-rounded logout"> logout </span>
        <span class="title-options"></span>
      </li>
    </ul>

    <span class="material-symbols-rounded toggle-menu" (click)="toggleMenu()">
      chevron_right
    </span>
  </nav>
</div>
