<div
  class="row m-0 content h-100 animate__animated animate__slideInDown animate__faster"
>
  <div class="container-info">
    <div class="row m-0 content-info">
      <h3>Saldo actual</h3>
      <h3 class="animate__animated animate__fadeIn">
        {{ currentBalance | currency : "COP" : "symbol" : "1.0-0" }}
      </h3>
    </div>
  </div>
  <div class="content-img">
    <picture>
      <img
        width="136px"
        height="110px"
        src="./../../../../assets/img/current-balance.svg"
        alt=""
      />
    </picture>
  </div>

  <div class="background">
    <picture>
      <img src="./../../../../assets/img/reflejos01.svg" alt="" />
    </picture>
  </div>
</div>
