@import 'src/sass/variables';

.content {
  border-radius: 8px;
  box-shadow: $box-shadow-default;
  position: relative;

  &.last-number {
    background-color: $blue-pastel;
  }

  &.current-balance {
    background-color: #C8C3F8;
  }

  &.goal {
    background-color: #C4E5C9;

  }

  .content-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-block: 15px;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;

    picture {
      top: 10px;
      left: 10px;
      z-index: -1;
      opacity: 0.5;
    }
  }
}